<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="login-form">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" class="form-control">
    <div *ngIf="formLogin.get('username')?.invalid && formLogin.get('username')?.dirty">
      <p>This field must be a maximum of 5 characters.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" class="form-control">
    
    <div *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.dirty" >
      <p>This field is required.</p>
    </div>
  </div>

  <button type="submit" [disabled]="formLogin.invalid" class="submit-button">Login</button>
</form>