  <div class="doctor-list">
    <h2>DoctorsList</h2>
    <table class="styled-table alt-table">
        <thead>
            <tr>
                <th>firstName</th>
                <th>lastName</th>
                <th>domain</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of doctorsList">
                <td>{{ doctor.firstName | avital}}</td>
                <td>{{ doctor.lastName }}</td>
                <td>{{ doctor.domain}}</td> 
                <td>
                <button (click)="delete(doctor)">delete</button>
                <button (click)="isClicked=!isClicked">update</button> 
                <app-update-doctor *ngIf="isClicked" [id]="doctor.id" ></app-update-doctor>
              </td>
            </tr>
        </tbody>
    </table>
  </div>
  <!-- <button (click)="this.isAdd=!this.isAdd">add product</button>
  <app-add-doctor *ngIf="this.isAdd" [isAdd]="isAdd"></app-add-doctor>  -->


  

