<button mat-icon-button (click)="toggleForm()" class="icon-button">
  <mat-icon>edit</mat-icon>
</button>
<div *ngIf="formVisible">
  <form [formGroup]="patientForm" (ngSubmit)="save()">
  
    <div class="input">
      <label for="firstName">first name:</label>
      <input id="firstName" formControlName="firstName" type="text" placeholder="First Name" />
      <div *ngIf="patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched">
        <div *ngIf="patientForm.get('firstName')?.errors?.['required']">You must write name</div>
      </div>
    </div>
    <div class="input">
      <label for="lastName">last name:</label>
      <input id="lastName" formControlName="lastName" type="text" placeholder="Last Name" />
      <div *ngIf="patientForm.get('lastName')?.invalid && patientForm.get('lastName')?.touched">
        <div *ngIf="patientForm.get('lastName')?.errors?.['required']">You must write last name</div>
      </div>
    </div>
    <div class="input">
      <label for="age">age:</label>
      <input id="age" formControlName="age" type="number" placeholder="age" />
      <div *ngIf="patientForm.get('age')?.invalid && patientForm.get('age')?.touched">
        <div *ngIf="patientForm.get('age')?.errors?.['required']">You must write the age</div>
        <div *ngIf="patientForm.get('age')?.errors?.['minlength']">You must write the age</div>
      </div>
    </div>
    <button type="submit" [disabled]="patientForm.invalid">Save</button>
  </form>
</div>
