.patient-list {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* עיצוב כללי של הטבלה */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center; /* יישור מרכזי של התוכן */
}

/* עיצוב כותרות העמודות */
th {
  background-color: #4CAF50 ;
  color: black;
  font-weight: bold;
  text-align: center; /* יישור מרכזי של כותרות העמודות */
}

/* הדגשת שורות */
tr:nth-child(even) {
  background-color: #f2f2f2 ;
}

tr:hover {
  background-color: #ddd;
}

/* עיצוב כפתורים */
button.mat-icon-button {
  margin: 0 4px;
}
  