<div class="background-image">
  <div *ngIf="!clicked" class="container">
    <mat-icon 
      class="circle-icon" 
      aria-hidden="false" 
      aria-label="Example home icon" 
      (click)="clicked=!clicked" 
      fontIcon="home">
    </mat-icon>
  </div>
  <div *ngIf="clicked" class="main-content" [ngClass]="{'login-background': !isLoggedIn()}">
    <div *ngIf="isLoggedIn()">
      <app-home-page></app-home-page>
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="!isLoggedIn()" class="login-container">
      <app-log-in></app-log-in>
    </div>
  </div>
</div>
