form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .icon-button mat-icon {
    font-size: 24px;
    color: black; /* Adjust the color as needed */
  }
  