<mat-dialog-content>
  <form [formGroup]="doctorForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label>Domain</mat-label>
      <input matInput formControlName="domain">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">No Thanks</button>
  <button mat-button (click)="save()" [mat-dialog-close]="doctorForm.value" cdkFocusInitial color="primary">Ok</button>
</mat-dialog-actions>