.styled-table.alt-table {
    width: 70%;
    margin: 0 auto; /* יישום מרכז האופקי */
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d4cbcb;
  }
  
  .styled-table.alt-table th, .styled-table.alt-table td {
    padding: 18px 80px;
    text-align: center;
    border: 3px solid #ddd;
  }
  
  .styled-table.alt-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .styled-table.alt-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .styled-table.alt-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .turn-list {
    width: 70%; /* גודל רחב מקסימלי */
    margin: 0 auto; /* יישום מרכז האופקי */
    max-height: 500px; /* גובה מקסימלי לטבלה */
    overflow-y: auto; /* הוספת גלגלת אנכית כאשר התוכן גורם להיות גדול מהגובה המקסימלי */
  }
  