<button mat-icon-button (click)="toggleForm()" class="icon-button">
  <mat-icon>edit</mat-icon>
</button>

<div *ngIf="formVisible">
  <form [formGroup]="doctorForm" (ngSubmit)="save()">
   
    <div class="input">
      <label for="firstName">first name:</label>
      <input id="firstName" formControlName="firstName" type="text" placeholder="First Name" />
      <div *ngIf="doctorForm.get('firstName')?.invalid && doctorForm.get('firstName')?.touched">
        <div *ngIf="doctorForm.get('firstName')?.errors?.['required']">You must write the doctor name</div>
      </div>
    </div>
    <div class="input">
      <label for="lastName">last name:</label>
      <input id="lastName" formControlName="lastName" type="text" placeholder="Last Name" />
      <div *ngIf="doctorForm.get('lastName')?.invalid && doctorForm.get('lastName')?.touched">
        <div *ngIf="doctorForm.get('lastName')?.errors?.['required']">You must write the doctor last name</div>
      </div>
    </div>
    <div class="input">
      <label for="domain">domain:</label>
      <input id="domain" formControlName="domain" type="text" placeholder="Domain" />
      <div *ngIf="doctorForm.get('domain')?.invalid && doctorForm.get('domain')?.touched">
        <div *ngIf="doctorForm.get('domain')?.errors?.['required']">You must write the domain</div>
        <div *ngIf="doctorForm.get('domain')?.errors?.['minlength']">You must write at least 2 chars</div>
      </div>
    </div>
    <button type="submit" [disabled]="doctorForm.invalid">Save</button>
  </form>
</div>
